%body
  #wrapper
    / Main
    #main
      / Introduction
      %section#intro.main
        .spotlight
          .content
            %header.major
              %h2 ArmaganVideos
            %p You probably already met atleast one client who wrote an usual simple message spread out into multiple emails. First the description of their projects, then images, then .pdf's. Managing this mess is not your work, you got something better to do, thus we invented ClientChat.
            %ul.actions
              %li
                %a.button{:href => "generic.html"} To the chat
          %span.image= image_tag "pic02.jpg"
      / First Section
      %section#intro.main
        .spotlight
          .content
            %header.major
              %h2 9elements
            %p You probably already met atleast one client who wrote an usual simple message spread out into multiple emails. First the description of their projects, then images, then .pdf's. Managing this mess is not your work, you got something better to do, thus we invented ClientChat.
            %ul.actions
              %li
                %a.button{:href => "generic.html"} To the chat
          %span.image= image_tag "pic06.jpg"
      / First Section
      %section#intro.main
        .spotlight
          .content
            %header.major
              %h2 Google
            %p You probably already met atleast one client who wrote an usual simple message spread out into multiple emails. First the description of their projects, then images, then .pdf's. Managing this mess is not your work, you got something better to do, thus we invented ClientChat.
            %ul.actions
              %li
                %a.button{:href => "generic.html"} To the chat
          %span.image= image_tag "pic06.jpg"
  / Scripts
  %script{:src => "assets/js/jquery.min.js"}
  %script{:src => "assets/js/jquery.scrollex.min.js"}
  %script{:src => "assets/js/jquery.scrolly.min.js"}
  %script{:src => "assets/js/skel.min.js"}
  %script{:src => "assets/js/util.js"}
  /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
  %script{:src => "assets/js/main.js"}
  / Footer
  #wrapper
    %footer#footer
      %section
        %h2 About Us
        %p Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
        %ul.actions
          %li
            %a.button{:href => "generic.html"} To the chat
      %section
        %h2 Meet Us
        %dl.alt
          %dt Address
          %dd Kortum Straße • 44787, Bochum • GER
          %dt Phone
          %dd (000) 000-0000 x 0000
          %dt Email
          %dd
            %a{:href => "#"} support@cuak.com
        %ul.icons
          %li
            %a.icon.fa-twitter.alt{:href => "#"}
              %span.label Twitter
          %li
            %a.icon.fa-facebook.alt{:href => "#"}
              %span.label Facebook
          %li
            %a.icon.fa-instagram.alt{:href => "#"}
              %span.label Instagram
          %li
            %a.icon.fa-github.alt{:href => "#"}
              %span.label GitHub
          %li
            %a.icon.fa-dribbble.alt{:href => "#"}
              %span.label Dribbble
      %p.copyright © Made with love in Bochum and Hannover.

