#wrapper
  / Main
  #main
    / Introduction
    %section#intro.main
      .spotlight
        .content
          %header.major
            %h2 Welcome to the Dashboard
          %p Here you are able to manage (view, add, update, delete) your current clients. Maybe the work of a client is done and paid and you want to delete the entry, or you want to add a new good-paying client.
    %section#intro.main
      %ul.actions
        %li
          %a.button{:href => "generic.html"} Show clients
      %ul.actions
        %li
          %a.button{:href => "generic.html"} Add new client
      %ul.actions
        %li
          %a.button{:href => "generic.html"} Update client
      %ul.actions
        %li
          %a.button{:href => "generic.html"} Delete client
/ Footer
#wrapper
  %footer#footer
    %section
      %h2 About Us
      %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects.
      %ul.actions
        %li
          %a.button{:href => "generic.html"} To the chat
    %section
      %h2 Meet Us
      %dl.alt
        %dt Address
        %dd Kortum Straße • 44787, Bochum • GER
        %dt Phone
        %dd (000) 000-0000 x 0000
        %dt Email
        %dd
          %a{:href => "#"} support@cuak.com
      %ul.icons
        %li
          %a.icon.fa-twitter.alt{:href => "#"}
            %span.label Twitter
        %li
          %a.icon.fa-facebook.alt{:href => "#"}
            %span.label Facebook
        %li
          %a.icon.fa-instagram.alt{:href => "#"}
            %span.label Instagram
        %li
          %a.icon.fa-github.alt{:href => "#"}
            %span.label GitHub
        %li
          %a.icon.fa-dribbble.alt{:href => "#"}
            %span.label Dribbble
    %p.copyright © Made with love in Bochum and Hannover.

