#wrapper
  / Main
  #main
    / Introduction
    %section#intro.main
      .spotlight
        .content
          %header.major
            %h2.dash Clients like to chat.
          %p You probably already met atleast one client who wrote an usual simple message spread out into multiple emails. First the description of their projects, then images, then .pdf's. Managing this mess is not your work, you got something better to do, thus we invented cuak™.
          = link_to "Register now!", new_user_path, class: "button"
        %span.image= image_tag "pic01.jpg"

    / First Section
    %section#first.main.special
      %header.major
        %h2 The basics
      %ul.features
        %li
          %span.icon.major.style1.fa-code
          %h3 Ipsum consequat
          %p Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
        %li
          %span.icon.major.style3.fa-copy
          %h3 Amed sed feugiat
          %p Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
        %li
          %span.icon.major.style5.fa-diamond
          %h3 Dolor nullam
          %p Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
      %footer.major
        %ul.actions
          %li
            %a.button{:href => "generic.html"} Learn More
    / Second Section
    %section#second.main.special
      %header.major
        %h2 Numbers don't lie
        %p
          Donec imperdiet consequat consequat. Suspendisse feugiat congue
          %br/
          posuere. Nulla massa urna, fermentum eget quam aliquet.
      %ul.statistics
        %li.style1
          %span.icon.fa-code-fork
          %strong 5,120
          Users
        %li.style2
          %span.icon.fa-folder-open-o
          %strong 8,192
          Hours saved
        %li.style3
          %span.icon.fa-signal
          %strong 12,048
          Messages sent
        %li.style4
          %span.icon.fa-laptop
          %strong 4,096
          Aliquam
        %li.style5
          %span.icon.fa-diamond
          %strong 1,024
          Nullam
      %p.content But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects.
      %footer.major
        %ul.actions
          %li
            %a.button{:href => "generic.html"} Learn More
    / Get Started
    %section#cta.main.special
      %header.major
        %h2 Boost your business now!
        %p
          Start the download or implement the GitHub Repository.
          %br/
          This will change the interaction with your clients to a better way.
      %footer.major
        %ul.actions
          %li
            %a.button.special{:href => "generic.html"} Download
          %li
            %a.button{:href => "generic.html"} GitHub Repository
/ Footer
#wrapper
  %footer#footer
    %section
      %h2 About Us
      %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects.
    %section
      %h2 Meet Us
      %dl.alt
        %dt Address
        %dd Kortum Straße • 44787, Bochum • GER
        %dt Phone
        %dd (000) 000-0000 x 0000
        %dt Email
        %dd
          %a{:href => "#"} support@cuak.com
      %ul.icons
        %li
          %a.icon.fa-twitter.alt{:href => "#"}
            %span.label Twitter
        %li
          %a.icon.fa-facebook.alt{:href => "#"}
            %span.label Facebook
        %li
          %a.icon.fa-instagram.alt{:href => "#"}
            %span.label Instagram
        %li
          %a.icon.fa-github.alt{:href => "#"}
            %span.label GitHub
        %li
          %a.icon.fa-dribbble.alt{:href => "#"}
            %span.label Dribbble
    %p.copyright © Made with love in Bochum and Hannover.

